In [15]:
import pandas as pd

Scraping from https://api.shareaction.org/resources/reports/Oil-Gas-Expansion-lose-lose.pdf into a cvs for merging

In [16]:
pip install tabula-py

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting tabula-py
  Downloading tabula_py-2.6.0-py3-none-any.whl (12.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 12.0/12.0 MB 76.2 MB/s eta 0:00:00
Collecting distro
  Downloading distro-1.8.0-py3-none-any.whl (20 kB)
Requirement already satisfied: pandas>=0.25.3 in /usr/local/lib/python3.8/dist-packages (from tabula-py) (1.3.5)
Requirement already satisfied: numpy in /usr/local/lib/python3.8/dist-packages (from tabula-py) (1.21.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=0.25.3->tabula-py) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=0.25.3->tabula-py) (2022.7)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.7.3->pandas>=0.25.3->tabula-py) (1.15.0)
Installing collected packages: distro, tabula-py
Successfully installed distro-1.8.0 tabula-py-2.6.0

In [17]:
import tabula

In [25]:
file1 = "https://api.shareaction.org/resources/reports/Oil-Gas-Expansion-lose-lose.pdf"
table = tabula.read_pdf(file1,pages=8)
print(table[0])

    Unnamed: 0                      Unnamed: 1    NZBA Unnamed: 2 Unnamed: 3  \
0          NaN  All amounts are in million US$     NaN       2016       2017
1          NaN                             NaN  member        NaN        NaN
2          1.0                            HSBC     Yes      6,591      9,668
3          2.0                        Barclays     Yes      9,660      3,787
4          3.0                     BNP Paribas     Yes      5,746      4,028
5          4.0                 Crédit Agricole     Yes      3,809      4,795
6          5.0                Société Générale     Yes      4,448      3,073
7          6.0                   Deutsche Bank     Yes      7,491      3,807
8          7.0                       Santander     Yes      4,923      2,898
9          8.0                   Credit Suisse     Yes      4,440      2,502
10         9.0              Standard Chartered     Yes      1,572      1,255
11        10.0                       UniCredit     Yes      2,022      1,345
12        11.0                             ING     Yes      1,902      1,868
13        12.0                 Intesa Sanpaolo     Yes      3,101        597
14        13.0                             UBS     Yes      2,072      2,634
15        14.0                            BPCE     Yes      1,316        989
16        15.0                            BBVA     Yes      2,251      1,780
17        16.0            Lloyds Banking Group     Yes      1,005        655
18        17.0                     Commerzbank     Yes        164      1,009
19        18.0                         NatWest     Yes        318        936
20        19.0                          Nordea     Yes        790        927
21        20.0                     Danske Bank     Yes        546        533
22        21.0                         DZ Bank  Yes(1)         31         11
23        22.0                       CaixaBank     Yes          -        170
24        23.0                   Crédit Mutuel     Yes          9         86
25        24.0                        Rabobank     Yes         11        113
26        25.0               La Banque Postale     Yes          -         48
27         NaN                             NaN   TOTAL     64,217     49,516

   Unnamed: 4 Unnamed: 5 Unnamed: 6 Unnamed: 7 Unnamed: 8  \
0        2018       2019       2020       2021      TOTAL
1         NaN        NaN        NaN        NaN        NaN
2       5,097     10,941     18,161      8,664     59,121
3       6,132      9,021     15,193      4,527     48,319
4       5,304      8,948     15,359      6,992     46,379
5       4,782      8,047      8,772      4,573     34,778
6       4,117      7,537     10,859      4,321     34,353
7       1,833      2,880      6,566      5,747     28,325
8       2,663      5,795      5,901      1,219     23,399
9       1,399      4,153      2,333      3,272     18,099
10      1,957      5,181      3,341      3,096     16,402
11      1,798      2,530      4,344      1,555     13,594
12      1,802      3,319      1,651      2,054     12,596
13      2,181      2,616      1,350      1,989     11,835
14      3,234      2,360        441        466     11,208
15      1,437      2,369      2,668      2,281     11,060
16      1,744      2,078      2,551        399     10,803
17        863        649      2,374        373      5,918
18        783      1,451      1,521        906      5,835
19        493        550      1,139        938      4,373
20        222        751        685        796      4,171
21        207      1,066        570        613      3,536
22        415        878          -         66      1,402
23          -         93        135         89        487
24        100        102          -          -        297
25          9         22          -          -        156
26          -          -          -          -         48
27     48,573     83,337    105,914     54,937    406,494

                                        Unnamed: 9
0                         Top 3 companies financed
1                                              NaN
2                 Exxon Mobil, Pemex, Saudi Aramco
3                           Exxon Mobil, Shell, BP
4                          Shell, Saudi Aramco, BP
5                      Petrobras, BP, Saudi Aramco
6                    Exxon Mobil, BP, Saudi Aramco
7              Shell, Exxon Mobil, Qatar Petroleum
8                             Petrobras, Pemex, BP
9   Diamondback Energy, BP, Pioneer Nat. Resources
10     Saudi Aramco, Occidental Petroleum, Chevron
11                               Eni, OMV, Gazprom
12                    Eni, Harbour Energy, Aker BP
13                           Gazprom, Eni, Novatek
14                   Woodside Petroleum, BP, Pemex
15                  Energean, Shell, TotalEnergies
16                    Pemex, Repsol, TotalEnergies
17                       BP, Shell, Harbour Energy
18                        BP, Wintershall Dea, OMV
19                         BP, Eni, Harbour Energy
20                     Aker BP, Lundin Energy, Eni
21                     Aker BP, Lundin Energy, DNO
22                             OMV, Gazprom, Pemex
23                          Gazprom, TotalEnergies
24               Petronas, Eni, Woodside Petroleum
25                   Saudi Aramco, Gazprom, Lukoil
26                                   TotalEnergies
27                                             NaN

In [32]:
tabula.convert_into("Oil-Gas-Expansion-lose-lose.pdf", "financing of fossilfuel.csv", pages=8)