In [ ]:
import pandas as pd

using https://periodtax.org/map.html#database

In [ ]:
table_list=pd.read_html("https://www.atlasandboots.com/travel-blog/poorest-countries-in-the-world-ranked/")

In [ ]:
len(table_list)

1

In [ ]:
df=(table_list[0])

In [ ]:
df

     Rank               Country  International $
0       1               Burundi              771
1       2  Central African Rep.              988
2       3              DR Congo             1142
3       4         South Sudan**             1235
4       5               Somalia             1246
..    ...                   ...              ...
192   193               Bermuda            80830
193   194                 Qatar            89969
194   195               Ireland            93350
195   196             Singapore            98520
196   197            Luxembourg           117846

[197 rows x 3 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 197 entries, 0 to 196
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Rank             197 non-null    int64
 1   Country          197 non-null    object
 2   International $  197 non-null    int64
dtypes: int64(2), object(1)
memory usage: 4.7+ KB

In [ ]:
df2=df.iloc[:20]

In [ ]:
df2

    Rank               Country  International $
0      1               Burundi              771
1      2  Central African Rep.              988
2      3              DR Congo             1142
3      4         South Sudan**             1235
4      5               Somalia             1246
5      6                 Niger             1288
6      7            Mozambique             1297
7      8               Liberia             1468
8      9            Madagascar             1544
9     10                Malawi             1592
10    11                  Chad             1602
11    12           Eritrea****             1626
12    13          Sierra Leone             1727
13    14         Guinea-Bissau             1949
14    15           Afghanistan             2079
15    16                Rwanda             2214
16    17                  Togo             2223
17    18          Burkina Faso             2274
18    19           Gambia, The             2275
19    20                Uganda             2294

In [ ]:
exported_values=list(df2.T.to_dict().values())

In [ ]:
exported_values

[{'Rank': 1, 'Country': 'Burundi', 'International $': 771},
 {'Rank': 2, 'Country': 'Central African Rep.', 'International $': 988},
 {'Rank': 3, 'Country': 'DR Congo', 'International $': 1142},
 {'Rank': 4, 'Country': 'South Sudan**', 'International $': 1235},
 {'Rank': 5, 'Country': 'Somalia', 'International $': 1246},
 {'Rank': 6, 'Country': 'Niger', 'International $': 1288},
 {'Rank': 7, 'Country': 'Mozambique', 'International $': 1297},
 {'Rank': 8, 'Country': 'Liberia', 'International $': 1468},
 {'Rank': 9, 'Country': 'Madagascar', 'International $': 1544},
 {'Rank': 10, 'Country': 'Malawi', 'International $': 1592},
 {'Rank': 11, 'Country': 'Chad', 'International $': 1602},
 {'Rank': 12, 'Country': 'Eritrea****', 'International $': 1626},
 {'Rank': 13, 'Country': 'Sierra Leone', 'International $': 1727},
 {'Rank': 14, 'Country': 'Guinea-Bissau', 'International $': 1949},
 {'Rank': 15, 'Country': 'Afghanistan', 'International $': 2079},
 {'Rank': 16, 'Country': 'Rwanda', 'International $': 2214},
 {'Rank': 17, 'Country': 'Togo', 'International $': 2223},
 {'Rank': 18, 'Country': 'Burkina Faso', 'International $': 2274},
 {'Rank': 19, 'Country': 'Gambia, The', 'International $': 2275},
 {'Rank': 20, 'Country': 'Uganda', 'International $': 2294}]

In [ ]:
import json

In [ ]:
df2.to_csv('wk4poorcountris.cvs')

In [ ]:
from google.colab import files
files.download('wk4poorcountris.cvs')